* {
    box-sizing: border-box;
}

body{
    padding: 0; 
    margin: 0;
}

.page-actions-cont{
    height: 3rem;
    background-color: #022B3A;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-actions{
    margin: 0.5rem;
    color: aliceblue;
}

/* iska structure  */
.cellprop-actions-cont{
    height: 3rem;
    background-color: #E7EDEF;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

 /* iske andar jo bhi item padehue hai */
.cellprop-actions-cont > * {
    display:inline-block;
    margin-right: 1rem;    
}

.cellprop-actions-cont > *:hover {
    cursor: pointer;
}
/* iske andar jo bhi select wale item pade hue hai  */
.cellprop-actions-cont > select{
    border: none;
    outline: none;
    border-radius: 2px;

}
.font-family-prop{
    padding: 0.2rem;
}
.font-size-prop{
    padding: 0.2rem;
}

.formula-actions-cont{
    height: 2rem;
    background-color: #E7EDEF;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.formula-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
}

.formula-actions-cont > input{
    border: none;
    outline: none;
}
.formula-icon{
    height: 1.2rem;
    width: 1.2rem;
}
.address-bar{
    width: 5rem;
    text-align: center;
}
.function-bar{
    width: calc(100vw - 5rem - 1rem - 1rem - 1rem);
}
.sheet-actions-cont{
    height: 3rem;
    background-color: #E7EDEF;
    display: flex;
    align-items: center; 
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    gap: 2rem;
}
.sheet-actions-cont > * {
    display: inline-block;
}

/* since sheet div that islie neeche as a block ara tha so to bring like a insline block set display to inline 
then give it a width and height */
.sheets-folder-cont{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 1rem;
    height: 80%;
    width: calc(100vw - 2vw);
    overflow: auto;
}

.sheet-folder{
    height: 80%;
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration-thickness: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-content{
    width: 5rem;
}

.sheet-add-icon{
    width: 2vw;
}

.sheet-add-icon :hover{
    cursor: default;
}
.grid-cont{
    height: calc(100vh - 3rem - 2rem - 3rem - 3rem);
    background-color: #E7EDEF;
    position: relative;
    overflow: scroll;
}
.top-left-dummy-box{
    height: 2rem;
    width: 2rem;
    background-color: #6C7573;   
    position: fixed;
    z-index: 10;
}
.address-col-cont{
    position: sticky;
    top: 2rem; /*  dummybox */
    left: 0;
}
.address-row-cont{

    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
 
    /* arrange according to grid not page -- give grid position relavite */
}
.cells-cont{
    position: absolute;
    top: 0;
    left: 2rem;
}
.address-col{
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid #CEDADF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-row{
    height: 2rem;
    width: 5rem;
    border: 1px solid #CEDADF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-cont{
    display: flex;
}
.cell{
    height: 2rem;
    width: 5rem;
    border: 1px solid #CEDADF;
    outline: none;
}

.color-prop{
    position: relative;
}

.color-prop > input{
    position: absolute;
    opacity: 0;
    top:0; 
    left: 0;
    height: 100%;
}